body {
  background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/upwk62168607-wikimedia-image-job572-1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=cb438dda8ca39239ac27c4923fd568b0');
  background-size: cover;
}

#root {
  padding: 1em;
  color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  width: 100%;
  text-align: center;
}

.controlBtnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.controlBtn {
  margin: 1em 0.5em;
}

.title {
  font-size: 36px;
}

.subtitle {
  font-size: 18px;;
}